*{
    padding: 0;
    margin: 0;
}
.container{
    height: 80vh;
    width: 110vh;
    background: rgb(68, 65, 65);
}
.paragraph{
    color: rgb(243, 230, 230);
    font-weight: 300;
    font-size: 20px;
    padding: 40px 30px;
}
#list{
    font-size: 15px;
    color: rgb(243, 230, 230);
    padding: 8px;
    margin-left: 30px;
    margin-bottom: 15px;
    border: 1px solid rgb(243, 230, 230);
    background: rgb(68, 65, 65);

}
#item{
    color: white;
    padding: 20px 30px;
    line-height: 2rem;
    word-spacing: 0.5rem;
    border: 2px solid white;
    width:500px;
    margin-left: 20px;
}
#btn{
    background: white;
    font-size: 15px;
    padding: 20px 35px;
    margin-left: 30px;
    margin-top: 15px;
    cursor: pointer;

}